@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background:black;
}

.background {
    width: 100%;
    height: 100vh;
    background: url('../img/pasaije.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);

}

.container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 500px;
    background: url('../img/pasaije.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permite que los elementos se acomoden en una nueva línea en pantallas pequeñas */
}

    .container .content {
        width: 58%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        padding: 80px;
        color: #e4e4e4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

.text-ltr h2 {
    font-size: 40px;
    line-height: 1.2;
}

.text-ltr span {
    font-size: 25px;
    font-weight: bold;
    color:goldenrod;
}

.text-ltr p {
    font-size: 16px;
    margin-top: 20px;
}

/* login */
.logreg-box .form-box {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #e4e4e4;
}
/* Contenedor principal */
.logreg-box .form-box {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #e4e4e4;
    padding: 20px;
}

.form-box h2 {
    font-size: 32px;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid #e4e4e4;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 500;
    padding-right: 28px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:-webkit-autofill,
.input-box input:-webkit-autofill:hover,
.input-box input:-webkit-autofill:focus,
.input-box input:-webkit-autofill:active {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: #e4e4e4 !important; /* Color del texto */
    caret-color: #e4e4e4 !important; /* Color del cursor */
    transition: background-color 5000s ease-in-out 0s;

}

    /* Asegurar que el label suba cuando el campo tenga contenido o autofill */
    .input-box input:focus ~ label,
    .input-box input:valid ~ label,
    .input-box input:-webkit-autofill ~ label {
        top: -5px;
        font-size: 14px;
        color: #e4e4e4;
        flex-wrap: wrap; 
    }

.input-box .icon {
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
    color: #e4e4e4;
}

.btn {
    width: 100%;
    height: 45px;
    background: #c4103d;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

    .btn:hover {
        background: rgba(0, 0, 0, .5);
    }

.social-icons a i {
    font-size: 22px;
    color: #e4e4e4;
    margin-left: 10px;
    transition: .5s ease;
}

.social-icons a:hover i {
    transform: scale(1.2);
}

/* Responsividad */
        @media screen and (max-width: 650px) {

            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 90%;
                height: auto;
                padding: 20px;
                background: url('../img/pasaije.jpg') no-repeat;
                background-size: cover;
                border-radius: 10px;
                background-position: center;
            }

            .container, .logreg-box .form-box {
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 500px;
                background: rgba(0, 0, 0, 0.6);
                margin-top: 20px;
                flex-direction: row;
                backdrop-filter: blur(20px);
                flex-wrap: wrap; /* Permite que los elementos se acomoden en una nueva línea en pantallas pequeñas */
                width: 100%;
                border-radius: 10px;
            }

                .container .content {
                    display: none;
                }

            .form-box .input-box {
                width: 100%;
            }
        }
        /* 💻 Tablets en horizontal y laptops pequeñas (1024x1366) */
        @media screen and (max-width: 1024px) {

            .container {
                flex-direction: column;
                width: 70%;
                height: auto;
                padding: 30px;
                background: url('pasaije.jpg') no-repeat;
                background-size: cover;
                background-position: center;
            }

            .background {
                filter: none;
            }

            .logreg-box .form-box {
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 500px;
                background: rgba(0, 0, 0, 0.6);
                margin-top: 20px;
                flex-direction: row;
                backdrop-filter: blur(20px);
                flex-wrap: wrap; /* Permite que los elementos se acomoden en una nueva línea en pantallas pequeñas */
                width: 100%;
                border-radius: 10px;
            }

            .container .content {
                display: none;
            }

            .form-box .input-box {
                width: 100%;
            }
        }